@charset "utf-8";
/* CSS Document */

/*
SANTIAGO BAROCIO'S ASCII FOR 2022 :
                                                                                                
 ad88888ba       88   888b      88    ad888888b,     ,a8888a,    8b        d8          
d8"     "8b    ,d88   8888b     88   d8"     "88   ,8P"'  `"Y8,   Y8,    ,8P           
Y8,          888888   88 `8b    88           a8P  ,8P        Y8,   Y8,  ,8P            
`Y8aaaaa,        88   88  `8b   88        ,d8P"   88          88    "8aa8"             
  `"""""8b       88   88   `8b  88      a8P"      88          88     `88'              
        `8b      88   88    `8b 88    a8P'        `8b        d8'      88    aaa  
Y8a     a8P      88   88     `8888   d8"           `8ba,  ,ad8'       88    "88  
 "Y88888P"       88   88      `888   88888888888     "Y8888P"         88    d8'  
                                                                           8"                                                                        
 ad888888b,    ,a8888a,    ad888888b,  ad888888b,  
d8"     "88  ,8P"'  `"Y8, d8"     "88 d8"     "88  
        a8P ,8P        Y8,        a8P         a8P  
     ,d8P"  88          88     ,d8P"       ,d8P"   
   a8P"     88          88   a8P"        a8P"      
 a8P'       `8b        d8' a8P'        a8P'        
d8"          `8ba,  ,ad8' d8"         d8"          
88888888888    "Y8888P"   88888888888 88888888888                                                     
*/




.carousel-caption h4 {
    color: #000000;
}

.carousel-caption p {
    color: #000000;
}

/*

.navbar-brand {font-size: 20pt; background-color:#FCBEBF}


*/

.btn-info {
    color: #000;
    background-color: #C24434;
    border-color: #C24434;
}


.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
    color: #000;
    background-color: #C24434;
    border-color: #C24434;
}

.btn-check:focus+.btn-info, .btn-info:focus {
    color: #000;
    background-color: #C24434;
    border-color: #C24434;
    box-shadow: 0 0 0 0.25rem rgb(194 68 52 / 50%);
}

.btn-info:hover {
    color: #000;
    background-color: #C24434;
    border-color: #C24434;
}

.btn-check:active+.btn-info:focus, .btn-check:checked+.btn-info:focus, .btn-info.active:focus, .btn-info:active:focus, .show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(194 68 52 / 50%);
}