@charset "utf-8";
/* CSS Document */


/*
SANTIAGO BAROCIO'S ASCII FOR 2022 :
                                                                                                
 ad88888ba       88   888b      88    ad888888b,     ,a8888a,    8b        d8          
d8"     "8b    ,d88   8888b     88   d8"     "88   ,8P"'  `"Y8,   Y8,    ,8P           
Y8,          888888   88 `8b    88           a8P  ,8P        Y8,   Y8,  ,8P            
`Y8aaaaa,        88   88  `8b   88        ,d8P"   88          88    "8aa8"             
  `"""""8b       88   88   `8b  88      a8P"      88          88     `88'              
        `8b      88   88    `8b 88    a8P'        `8b        d8'      88    aaa  
Y8a     a8P      88   88     `8888   d8"           `8ba,  ,ad8'       88    "88  
 "Y88888P"       88   88      `888   88888888888     "Y8888P"         88    d8'  
                                                                           8"                                                                        
 ad888888b,    ,a8888a,    ad888888b,  ad888888b,  
d8"     "88  ,8P"'  `"Y8, d8"     "88 d8"     "88  
        a8P ,8P        Y8,        a8P         a8P  
     ,d8P"  88          88     ,d8P"       ,d8P"   
   a8P"     88          88   a8P"        a8P"      
 a8P'       `8b        d8' a8P'        a8P'        
d8"          `8ba,  ,ad8' d8"         d8"          
88888888888    "Y8888P"   88888888888 88888888888                                                     
*/







nav{
    float: left;
    margin: 0;
    overflow:hidden;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a{
    color: #FFFDFD;
    display: block;
    line-height: 2em;
    padding: 1em 1em;
    text-decoration: none;
}





.logo-img{
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}


#navBar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  list-style-type: none;
  background: linear-gradient(to right, black, gold);
}


a:hover {
  background-color: grey;
}

